/* UserForm.css */
.user-form {
    
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in;
    display: flex;
    flex-direction: column;

    
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  input {
    
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    width:90%;
    justify-content: center;
  }
  
  input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  button {
    
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  span {
    color: #e74c3c;
    font-size: 0.9rem;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .user-form {
      padding: 15px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
  